html {
  margin: 0;
  padding: 0;
  background-color: #d3d4d9;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d3d4d9;
  font-family: "Figtree";
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #252627;
  font-family: inherit;
}

h1 h2 h3 h4 h5 h6 {
  color: #252627;
}
